{%extends 'base.html'%}

{%block content%}
<div class="container-fluid text-center">

  <div class="spinner-grow text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-info" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-light" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>



</div>

<div class="container">
  <div class="row">
  <div class="col">
  <img src="/app/static/IMAGES/chef2.jpg" alt="">
  </div>
  <div class="col" style="margin-top: 15%;">
    <strong><h1 style="font-size: 2cm; font-weight: 900;">A CHEF IN EVERY PIZZA BOX</h1></strong>

    <button style="border-radius: 3cm; background-color: black; width: 4cm; color: white; padding:0.5rem; margin-left: 25%; margin-top: 5%;;">Order Now</button>
  </div>
  </div>
  </div>
  




{%endblock%}








