{%extends 'base.html'%}

{%block content%}
<div class="container-fluid text-center">

  <div class="spinner-grow text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-info" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-light" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

</div>
<!-- <img src="https://images.unsplash.com/photo-1593504049359-74330189a345?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGl6emF8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="pizzas"> -->

<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for pizza in all_pizza %}
  <div class="col" id="pitches">
    <div class="card shadow p-3 mb-5 bg-body rounded">
      <div class="card-body">
        <img src="https://images.unsplash.com/photo-1593504049359-74330189a345?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGl6emF8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="pizzas">
        <h4 class="card-title">{{pizza.pizza_type}}</h4>
        <p class="card-text text-center">"{{pizza.description}}"</p>
        <a href="#">
          <button type="button" class="btn btn-outline-info">Make Order</button></a>
        <br>
        <div class="card-footer">
          <h5> <span>
              {{pizza.pizza_price}}
            </span></h5>
        </div>
      </div>
    </div>
  </div>
  {%endfor%}
</div>
{%endblock%}
